* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: Sans-serif;
}

header {      
    background-color: #3160E0;
}

main, footer {
    padding-bottom: 2px;
}

.flexbox {
    display: flex;
}

.standard-flex {
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
}

.sp-around {
    align-items: center;
    justify-content: space-around;
}

.sp-around-align-start {
    align-items: start;
    justify-content: space-around;
}

.container {
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
}

.style-dashed {
    border-style: dashed;
    border-width: 2px;
}

.show-empty {
    min-height: 200px;
}

.white {
    color: white;
}

.text-center {
    text-align: center;
}

.contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box-min-height {
    min-height: 300px;
}

.gap {
    gap: 60px;
}

.bg-grey {
    background-color: rgb(214, 214, 214);
}

.bg-black {
    background-color: black;
}

.text-padding {
    padding: 5px 10px;
}

.flex-column {
    flex-direction: column;
}

.just-cent-align-start {
    justify-content: center;
    align-items: start;
}

/* upper header */


.logo {
    width: 20%;
    text-align: start;
}

.link {
    width: 60%;
}

.login {
    width: 20%;
}

.button {
    border-radius: 15px;
    min-width: 100px;
    min-height: 30px;
    padding: 2px 5px;
    margin: 15px 10px;
}

.white-button {
    color: black;
    background-color: white;
}

/* fine upper header - inizio lower header*/

.bg-blue {
    background-color: blue;
}

.big-page-box {    
    width: 50%;
    min-height: 325px;
}

#lower-header-bg {
    background-image: url(../img/jumbo.png);
}


/* fine lower header - inizio pages*/


.page-image-box {
    width: 55%;
}

.page-text-box {
    width: 25%;
}

.big-page {
    width: 80%;
}

.big-image-box {
    max-width: 1000px;
    height: 550px;
    width: 100%;
}

#first-page-img {
    background-image: url(../img/item1.svg);
}

#second-page-img {
    background-image: url(../img/item2.svg);
}

#third-page-img {
    background-image: url(../img/item3.svg);
}

#fourth-page-img {
    background-image: url(../img/item4-big.svg);
}


/* fine pages - inizio boxes */




/*  fine boxes - inizio last page */

.medium-footer-box {
    min-width: 20%;
}

.small-footer-box {
    max-width: 15%;
}

/* footer  */

.lowered-centered {
    align-items: flex-end;
    justify-content: center;
    padding: 1em 2em 0;
}

.bg-pink {
    background-color: pink;
}

.flexbox-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-item {
    color: rgb(101, 35, 215);
    font-weight: 10;
}

.bg-purple {
    background-color: rgb(101, 35, 215);;
}